        h1 {
          color : white;
        }
        body { 
          background-color : black;
        }
    
        p {
          color : white; 
        }

         button {
           text-align : right;
           padding : 10px 20px;       
         }

         button : hover { 
           background-color : red;
         }

  
