        h1 {
          color : white;
        }
        body { 
          background-color : black;
        }
    
        p {
          color : white; 
        }

        nav {
          align-items : right;
        }

        nav button {
          border : 10% ;
          color : white ;
          background : blue ;
          font-size : 85% 
        }

         button {
           text-align : right;
           padding : 10px 20px;       
         }

      

  
